@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    margin: 0px 2.1em;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
}
a {
    color: black;
    text-decoration: none;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
#slogan {
    font-size: 12px;
}
/* *** */
#navlinks {
    font-size: 14px;
}
.npmLogo {
    width: 64px;
    margin-right: 0.8rem;
}
.searchForm {
    margin: 0.3rem 0.5rem 0.3rem 0rem;
    padding: 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.searchForm img {
    padding: 9px 10px 9px 10px;
    background-color: rgba(0,0,0,0.1);
    width: 1rem;
    height: 1rem;
}
.searchForm input {
    width: 100%;
    height: 2rem;
    border: 0px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
}
.searchForm button {
    height: auto;
    border: none;
    padding: 8px 12px;
 /*   margin: 0px 12px 0px 0px; */
    background-color: #fb3e44;
    color: white;
}
.member-btn-container {
    margin: 0px 0px 0px 1.2rem;
    width: 220px;
    height: auto;
    flex-flow: nowrap row-reverse;
}
#join-btn {
    font-size: 14px;    
    padding: 4px 12px;
    border: 1px solid rgb(45, 45, 45)
}
#login-btn {
    font-size: 14px;
    padding: 4px 12px;
}

#introduction {     /* section 1 */
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#introduction h1 {
    font-size: 5rem;
    font-weight: bold; /* why it don't get bold ? */
    margin: 0px 0px 2.5rem 0px;
}
#introduction article {
    margin-bottom: 3rem;
    width: 430px;
    text-align: center;
}
#section1-linkbox {
    display: flex;
    flex-flow: nowrap row;
}
#plans-btn {
    background-color: #fb3b49;
    color: white;
    margin: 1rem;
    padding: 12px 64px;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}
#join-free-btn {
    background-color: white;
    margin: 1rem;
    font-weight: bold;
    padding: 12px 64px;
} /* end section 1 */

#section2 {     /* section 2 */
    height: 600px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}
#section2 img {
    margin: 3.5% 0px 2% 0px;
    width: 200px;
    align-self: center;
}
#section2 h2 {
    padding: 0px 1.5rem;
    font-weight: bold;
    line-height: 22px;
    font-style: italic;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
}
#section2 article {
    width: 34%;
    text-align: center;
    font-size: 14px;
} /* end section 2 */

#arguments {    /* section 3 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.article-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}
.article-group > div {
    margin-left: 12px;
}
#arguments h3 {
    color: #ed1c24;
    font-weight: bold;
}
#arguments img {
    width: 32px;
}
.article-group p {
    text-align: left;
    width: 14rem;
    font-size: 14px;
}
#createOrg {
    background-color: black;
    color: white;
    text-align: center;
    margin: 3rem 0px 4rem 0px;
    padding: 12px 100px;
    width: 14rem;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
} /* end section 3 */